mat-card {
  width: 80%;
  max-width: 810px;
  margin: 2em auto;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 25px;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 50px;
}

.align-text {
  text-align: center;
}

.form-array-error {
  text-align: left;
}

.lessons-toolbar {
  background: #E8EAF6;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
