<mat-toolbar class="header">
  <span class="button" routerLink="">Playlists</span>
  @if (isLogado()) {
    <div class="nav">
      <button class="login_button" mat-button routerLink="/" type="button">
        <span class="login_button_text">Lista</span>
        <mat-icon>list</mat-icon>
      </button>
      <button class="login_button" mat-button (click)="logout()" type="button">
        <span class="login_button_text">Logout</span>
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }@else {
    <button class="login_button" mat-button routerLink="login"  type="button">
      <span class="login_button_text">Login</span>
      <mat-icon>login</mat-icon>
    </button>
  }
</mat-toolbar>
