<mat-drawer-container autosize class="container">
    <mat-drawer #drawer mode="side" opened="true" class="sidenav">
      <div>
        <h3>{{ course().name }}</h3>
      </div>
      <mat-nav-list dense >
          @if (course().lessons) {            
            @for (lesson of course().lessons; track $index) {
              <mat-list-item
                class="list-with-border"
                (click)="display(lesson)"
                [activated]="displaySelectedLesson(lesson)">
                <span mat-line>{{ lesson.name }}</span>
              </mat-list-item>
            }
          }
      </mat-nav-list>
  
    </mat-drawer>
  
    <div class="sidenav-content" #youTubePlayer>
      <youtube-player
        [width]="videoWidth()"
        [height]="videoHeight()"
        [videoId]="selectedLesson().youtubeUrl"></youtube-player>
    </div>
  </mat-drawer-container>
  