<mat-drawer-container autosize class="container">
    <mat-drawer #drawer mode="side" opened="true" class="sidenav">
      <div>
        <h3>{{ playlist().name }}</h3>
      </div>
      <mat-nav-list dense >
          @if (playlist().videos) {            
            @for (video of playlist().videos; track $index) {
              <mat-list-item
                class="list-with-border"
                (click)="display(video)"
                [activated]="displaySelectedVideo(video)">
                <span mat-line>{{ video.name }}</span>
              </mat-list-item>
            }
          }
      </mat-nav-list>
  
    </mat-drawer>
  
    <div class="sidenav-content" #youTubePlayer>
      <youtube-player
        [width]="videoWidth()"
        [height]="videoHeight()"
        [videoId]="selectedVideo().youtubeUrl"></youtube-player>
    </div>
  </mat-drawer-container>
  