<mat-card>
  <mat-card-content>
    <mat-toolbar>
      Suas Playlists - Demo
    </mat-toolbar>
    <div class="column-flex mat-elevation-z8">
      <mat-table [dataSource]="playlists()" class="mat-elevation-z8 mat-table">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
          <mat-cell *matCellDef="let playlist"> {{playlist.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
          <mat-cell *matCellDef="let playlist"> {{playlist.category}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="addCourse">
          <mat-header-cell *matHeaderCellDef class="action-column-header">
            <button mat-icon-button color="primary" aria-label="Adicionar novo curso" (click)="onAdd()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let playlist" class="action-column">

            <button mat-icon-button aria-label="Editar curso" color="accent" (click)="onEdit(playlist)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Deletar curso" color="warn" (click)="onDelete(playlist)">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-icon-button aria-label="visualizar lições do curso" color="accent" (click)="player(playlist)" type="button">
              <mat-icon>headphones</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator
      hidePageSize
      [length]="totalElements()"
      pageIndex="{{pageIndex()}}"
      pageSize="{{pageSize()}}"
      (page)="refresh($event)"
      aria-label="Select page of courses"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
